<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.url">jdbc:mysql://192.168.71.30:3306/sspring_web</property>
  <property name="hibernate.connection.username">sspring</property>
  <property name="hibernate.connection.password">sspring9872012</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.transaction.auto_close_session">true</property>
  <property name="hibernate.connection.autocommit">true</property>
  <property name="hibernate.connection.autoReconnect">true</property> 
  <property name="hibernate.connection.autoReconnectForPools">true</property>
  <property name="hibernate.connection.is-connection-validation-required">true</property>
  <property name="hibernate.connection.pool_size">20</property> 
  <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
  <property name="hibernate.c3p0.min_size">10</property>
  <property name="hibernate.c3p0.max_size">40</property>
  <property name="hibernate.c3p0.timeout">1800</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="hibernate.c3p0.idle_test_period">10</property>
  <property name="hibernate.c3p0.acquire_increment">5</property>
  <property name="hibernate.c3p0.testConnectionOnCheckout">true</property>
  <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
  <property name="hibernate.cache.use_query_cache">false</property>  
  <property name="hibernate.show_sql">false</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.default_catalog">sspring_web</property>
  <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
   
  <mapping resource="vn/softech/hibernate/TblVoteResult.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblVoteItem.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblVote.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblGioiThieu.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTinTuc.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblChuyenMuc.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTthcDm.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTthc.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblHinhAnh.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblLdCap.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblLdCoQuan.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblLdLinhVuc.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblLdLoaiVb.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblLegalDocuments.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblThongBao.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblDocument.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblUsers.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblGroups.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblUrls.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblUrlsGroups.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblUsersGroups.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblAdvert.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblLink.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTracking.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblQuestion.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblQuestionAssign.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblAnswer.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblBmdt.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblBmdtDm.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblCongDan.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblGiaDat.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblPhongBan.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblQuanHuyen.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblXaPhuong.hbm.xml"/>  
  <mapping resource="vn/softech/hibernate/TblToChuc.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTtcgcndkmsxdcb.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTtcgcndkmsxdcbButPhe.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTtcgcndkmsxdcbDinhKem.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTtpapbdtns.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTtpapbdtnsButPhe.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTtpapbdtnsDinhKem.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTtpdgmsts.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTtpdgmstsButPhe.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTtpdgmstsDinhKem.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTtcmsdvsdns.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTtcmsdvsdnsButPhe.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTtcmsdvsdnsDinhKem.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblLienHe.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTtpdgmstsChuyenhs.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTtpapbdtnsChuyenhs.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTtcmsdvsdnsChuyenhs.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblTtcgcndkmsxdcbChuyenhs.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblVideo.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblVbHuongDan.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblPhanmem.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblVbDuthao.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblVbDuthaoGopy.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblVbHanhChinh.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblCktc.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblCktcCm.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblDvcGopy.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblGiaThiTruong.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblGiattCatalog.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblSuKien.hbm.xml"/>
  <mapping resource="vn/softech/hibernate/TblSuKienTinTuc.hbm.xml"/>

 </session-factory>
</hibernate-configuration>
